@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html, body { height: 100%}

h1 {
  color: #3e3e42;
  font-size:32px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 30px;
  transform: translateZ(35px);
}

h3 {
  color: #eb285d;
  font-size: 16px;
  margin-bottom: 6px;
  transform: translateZ(25px);
}

.cards {
  border-radius: 15px;
  box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.17);
  display: inline-block;
  padding: 30px 35px;
  perspective: 1800px;
  text-align: left;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(16.5deg);
  min-width: 595px;
   background:url('../../imgs/bg.jpg');
  background-image:url('../../imgs/bg.jpg');
  -moz-background:cover;
  -webkit-background:cover;
  background-size:cover;
  background:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-color:#000;
}

.card {
  border-radius: 15px;
  box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.6);
  // cursor: pointer;
  display: inline-block;
  height: 250px;
  overflow: hidden;
  perspective: 1200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translatez(35px);
  transition: transform 200ms ease-out;
  width: 175px;
  text-align: center;
  background-color:rgba(0,0,0,0);

  
  // &:hover {
  //   box-shadow: 5px 5px 20px -7px rgba(0,0,0,0.5);
  //   transform: translatez(60px);
  // }
  
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.card__img {
  position: relative;
  height: 100%;
}

.card__bg {
  bottom: -50px;
  left: -50px;
  position: absolute;
  right: -50px;
  top: -50px;
  transform-origin: 50% 50%;
  transform: translateZ(-50px);
  z-index: 0;
}

.card__one {
  margin-top:20px;
  width:100%;
  .card__img {
    top: 0px;
    right: 0px;
    height: 100%;
  }
  .card__bg {
  }
  .card__content {
    //background-color: #254b60;
  }
}


.card__content {
  align-items: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%);
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  display:flex;
  z-index: 2;
  justify-content:center;
  align-items:center;
      .tic-tac-toe-board{
        position:absolute;
        left:2.5%;
        top:2.5%;
        height: 95%;
        width: 95%;
        flex:1;
        border-radius:5px;
  border:solid blue;
        display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr;
  grid-template-areas:
  "a b c"
  "d e f"
  "g h i"
  ;
      }
}


.block{
  border:solid blue;
    background:rgba(0,0,0,.7);
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;

}


.block:hover{
    background:rgba(250,250,250,.7);
}

  .spot0{
    grid-area:a;
  }



  .spot1{
    grid-area:b;
  }


  .spot2{
    grid-area:c;
  }


  .spot3{
    grid-area:d;
  }



  .spot4{
    grid-area:e;
  }


  .spot5{
    grid-area:f;
  }



  .spot6{
    grid-area:g;
  }



  .spot7{
    grid-area:h;
  }



  .spot8{
    grid-area:i;
  }


.card__title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 0 10px;
  margin-bottom: 3px;
}

.notice {
  background: gold;
  border-top-left-radius: 6px;
  bottom: 0;
  font-family: monospace;
  font-size: 14px;
  padding: 8px 10px;
  position: absolute;
  right: -20px;
}

.twitter__link {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: 12px;
  z-index: -1;
  background: #00aced;
  border-radius: 20px;
  height: 30px;
  text-decoration: none;
  padding-right: 10px;
  justify-content: space-between;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  width: 74px;
  opacity: 0.4;
  
  &:hover {
    opacity: 1;
  }
}

.twitter__icon {
  height: 30px;
}



.score{
  -webkit-text-fill-color:azure;
  color:azure;
}


//mobile phone up
@media screen and (max-width:600px){

.cards {
  border-radius: 15px;
  box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.17);
  display:flex;
  flex-direction:column;
  padding: 30px 35px;
  text-align: left;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  background:cover;
  background-size:100%;
  background-position:center;
}
.card {
  border-radius: 15px;
  box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.6);
  // cursor: pointer;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: center;
  background-color:rgba(0,0,0,0);


  }




}


// mobile phone side ways
@media screen and (max-width:900px) and (min-width:600px) and (max-height:600px){
  .cards {
  border-radius: 15px;
  box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.17);
  display:flex;
  flex-direction:column;
  padding: 30px 35px;
  text-align: left;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  background:cover;
  background-size:100%;
  background-position:center;
}
.card {
  border-radius: 15px;
  box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.6);
  // cursor: pointer;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: center;
  background-color:rgba(0,0,0,0);


  }


}



// all tablets
@media (max-width:1380px) and (min-width:600px) and 
(max-height:1380px) and (min-height:600px){
  
.cards {
  border-radius: 15px;
  box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.17);
  flex:1;
  display:flex;
  flex-direction:column;
  padding: 30px 35px;
  text-align: left;
  min-width: 80%;
  width: 80%;
  max-width: 80%;
  background:cover;
  background-size:100%;
  background-position:center;
}
.card {
  border-radius: 15px;
  box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.6);
  // cursor: pointer;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: center;
  background-color:rgba(0,0,0,0);


  }

  .card__one {
  margin-top:0px;
  width:100%;
  .card__img {
    top: 0spx;
    right: -10px;
    height: 100%;
  }
  .card__bg {
  }
  .card__content {
    //background-color: #254b60;
  }
}

}